.react-modal .close-icon {
    float: right;
    font-size: 40px;
}
.react-modal .graph-container {
    width: 90%;
    margin: 40px auto;
}
.red-reset-button path {
    color: red;
}
.graph-border {
    border: 2px solid white;
}
.graph-controller {
    display: flex;
    width: 90%;
    margin: 20px auto;
}
.graph-controller .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas: ". . ." ". . ." ". . .";
    font-size: 20px;
    flex-basis: 10%;
}
.graph-controller .vid {
    border: 2px solid white;
    flex-basis: 65%;
}
.graph-controller .vid .vid-graph div, .graph-controller .vid .vid-reset div {
    display: flex;
}
.graph-controller .vid .vid-graph div .icon, .graph-controller .vid .vid-reset div .icon {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 12px;
    padding: 2px;
    font-size: 20px;
}
.graph-controller .vid .vid-graph div .icon.red-reset-button, .graph-controller .vid .vid-reset div .icon.red-reset-button {
    border: none;
    background-color: unset;
}
.graph-controller .vid .vid-graph div h1, .graph-controller .vid .vid-reset div h1 {
    display: inline;
    font-size: 20px;
    padding-left: 12px;
}
.graph-controller .vid .vid-graph p, .graph-controller .vid .vid-reset p {
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 0;
    margin-top: 0;
    font-weight: bold;
}
.graph-controller .info-container {
    flex-basis: 25%;
    padding-left: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}
.graph-controller .info-container .info-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}
.graph-controller .info-container .info-row .info-key {
    flex: 1;
    display: flex;
    justify-content: center;
}
.graph-controller .info-container .info-row .info-key div {
    border: 2px solid white;
    width: 30px;
    height: 0;
    margin-top: 7px;
}
.graph-controller .info-container .info-row .info-key div.blue-color {
    border-color: #39a0d2;
}
.graph-controller .info-container .info-row .info-key div.yellow-color {
    border-color: #f4c434;
}
.graph-controller .info-container .info-row .info-key div.pink-color {
    border-color: #d04a93;
}
.graph-controller .info-container .info-row .info-value {
    flex: 4;
    text-align: left;
}
.split-graphs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.split-graphs img {
    width: 100px;
}
.vid-table {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.vid-table .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
}
.vid-table .body {
    display: flex;
    flex-direction: column;
}
.vid-table .body .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
